
@{
    ViewBag.Title = "Index";
}

<h2>緊急通報系統</h2>

<table>
    <div>
        <video src="clip.mp4" controls></video>
        <button>按鈕</button>
    </div>
    <div>
        <video src="clip.mp4" controls></video>
        <button>按鈕</button>
    </div>
    <div>
        <video src="clip.mp4" controls></video>
        <button>按鈕</button>
    </div>
    <div>
        <video src="clip.mp4" controls></video>
        <button>按鈕</button>
    </div>
</table>