<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    @*還要修改介面完整程度*@
    <h2>緊急通報系統</h2>
    <button id="run">開啓網路直播攝像頭</button><Br />
    <button id="run2">開啓網路直播攝像頭2</button><Br />
    <button id="run3">開啓網路直播攝像頭3</button><Br />
    <button id="stop">關閉網路直播攝像頭</button><Br />
    <h4>影片來源</h4>
    <video id="webcam"></video>
    <h4>影片來源2</h4>
    <video controls>
        <source src="https://127.0.0.1:5000/video_feed" type="video/ogg" />
        Your browser does no support the video tag.
    </video>
    <canvas id="canvas" width="640" height="480"></canvas>
    <button id="snap">截圖</button><Br />

    <script src="~/Scripts/script.js"></script>
</body>
</html>


